
.container {
margin-inline: auto;

  padding-left: 15px;
  padding-right: 15px;

  width: 100%;

  @include mq(mobile) {
    max-width: 320px;
  }



  @include mq(desktop) {
    max-width: 1280px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.section{
  padding: 60px 0;
}

.title{
  margin-bottom: 21px;

  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19/16);
  /* identical to box height */

  text-align: center;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}