$accent-color: #E7A24F;
$main-text: #272727;
$second-text: #000000;
$black-color: #000000;
$white-color: #ffffff;
$main-bg-color: #ffffff;
$secondary-bg-color: #7BB83E;
$footer-bg: #D4E8BF;
$icon-color: #afb1b8;
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
$time-animation: 250ms;
$overlay-bg-color: rgba(33, 150, 243, 0.9);
$modal-bg-color: rgba(123, 184, 62, 0.35);
$title-font: 'Roboto Condensed', sans-serif;
$text-font: 'Montserrat', sans-serif;