<header>
  <div class="container">
    <nav>
      <a href="/" class="logo">Logo</a>

      <ul class="nav__list">
        <li class="nav__item"><a href="" class="nav__link">Аренда</a></li>
        <li class="nav__item"><a href="" class="nav__link"></a>Меню</li>
        <li class="nav__item"><a href="" class="nav__link"></a>Галерея</li>
        <li class="nav__item"><a href="" class="nav__link">О нас</a></li>
        <li class="nav__item"><a href="" class="nav__link">Контакты</a></li>
      </ul>
    </nav>
    <a href="" class="header__contact">+38(050)242-02-11</a>
    <button type="button">Заказать звонок</button>
  </div>
</header>
