<!-- !-----------Modal -->
<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="close-button" data-modal-close>
      <svg class="icon-close" width="18" height="18">
        <use href="./images/sprite.svg#icon-close-button"></use>
      </svg>
    </button>

    <p class="modal__caption">Оставьте свои данные, мы вам перезвоним</p>
    <form action="" class="form">
      <div class="register">
        <label class="form__label"
        >Имя
          <span class="input-container">
                <input class="form__input" type="text" name="name" required/><svg
            class="form__icon"
          >
                  <use href="./images/sprite.svg#icon-person"></use></svg></span
          ></label>
        <label class="form__label"
        >Телефон
          <span class="input-container">
                <input class="form__input" type="tel" name="telephone-number" required/><svg
            class="form__icon"
          >
                  <use href="./images/sprite.svg#icon-phone-modal"></use>
                </svg>
              </span>
        </label>
        <label class="form__label"
        >Почта
          <span class="input-container">
                <input class="form__input" type="email" name="email" required/><svg
            class="form__icon"
          >
                  <use href="./images/sprite.svg#icon-email"></use></svg></span
          ></label>
        <label class="form__label"
        >Комментарий<textarea
          class="form__comment"
          name="comment"
          placeholder="Введите текст"
        ></textarea>
        </label>
      </div>
      <label class="checkbox"
      ><input class="checkbox__input visually-hidden" type="checkbox" name="agree"/><span
        class="checkbox__icon"
      ></span
      ><span class="checkbox__label"
      >Соглашаюсь с рассылкой и принимаю
              <a href="" class="checkbox__condition">Условия договора</a></span
      ></label
      >
      <button class="button form__button" type="submit">Отправить</button>
    </form>
  </div>
</div>