.benefits{
  display: flex;
  flex-direction: column;
  gap: 20px;

  text-align: center;
}

.benefits__title{
  text-align: center;
font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}
.benefits__text{
  text-align: center  ;
}
