.header {
  width: 100%;
  position: fixed;
  z-index: 10;
  background: rgba(38, 38, 38, 0.64);
}

.nav__item{
  font-family: $title-font;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(21/18);
  /* identical to box height */
}
.nav__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: $main-text;

  &--current {
    color: $accent-color;
  }
}

.contacts__link {
  color: white;
}

.nav__link,
.contacts__link {
  transition: color $time-animation $cubic-bezier;


  &:hover,
  &:focus {
    color: orange;
  }
}
@media screen and (max-width: 767px) {
  .header__container > .nav,
   {
    display: none;
  }

  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;

  }
  .header__contact-icon{
    width: 28px;
    height: 28px;
  }
  .nav{
    margin:100px 0 0 25%;
  }
  .nav__list{

    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  .nav__item{
    font-family: $title-font;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 2.29;
    /* or 229% */


  }

  .contacts {
    display: flex;
    gap: 18px;

    &__icon {
    width: 28px;
      height: 28px;
    }
  }



  .nav__link {
    font-size: 40px;
    line-height: 1.18em;
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    display: flex;
    align-items: center;
  }
  .header__logo {
    margin-right: 88px;
  }
  .nav__list {
    display: inline-flex;
    gap: 50px;
  }
  .nav__link {
    display: block;
    padding: 32px 0;

    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.02em;

    transition: color $time-animation $cubic-bezier;

    color: $second-text;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  .nav__link--current {
    position: relative;

    color: $accent-color;

    &::after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: orange;
    }
  }
  .contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-left: auto;
  }
  .contacts__link {
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 12px;
    line-height: 1.17;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.02em;

    color: black;

    transition: color $time-animation $cubic-bezier;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  .contacts__icon {
    fill: blue;
  }

  .icon-envelope {
    width: 14px;
    height: 10px;
  }
  .icon-smartphone {
    width: 10px;
    height: 14px;
  }
}


@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }


  .contacts {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .contacts__link {
    font-size: 14px;
    line-height: 1.14;
  }
}
