<section class="section aboutUs">
  <div class="container">
    <h2 class="title aboutUs__title">о нас</h2>
    <div class="aboutUs__text">
      <p>Дорогие друзья, приглашаем вас посетить нашу локацию #nestoinameste, HOUSE XPark, в
        центральной части Киева с lounge зоной, event зоной и sport зоной где вы сможете вкусно поесть, провести большое
        мероприятие и просто замечательно отдохнуть большой компанией от городской суеты, расслабиться и спрятаться от
        жары на берегу залива реки Десенка, в уютном шатре.
        ⠀</p>
      <p> Так же вы сможете принять участие в различных event мероприятиях, поиграть в бампербол,
        на
        первом в Украине стационарном поле для бампербола, научится ходить по Слеклайну, сыграть в Петанк, промчаться на
        Вейкборде, по кольцевой канатной дороге вдоль берега и многое другое.</p>
    </div>
  </div>
</section>