<section class="section">
  <div class="container benefits">
    <h2 class="benefits__title">«Тут все свои»</h2>
    <p class="benefits__text">Мы создали домик своей мечты, где каждый сможет почувствовать себя как дома, побыть
      наедине с природой, заняться
      спортом, встретиться с друзьями и найти единомышленников. Именно по этому наш девиз «Тут все свои».</p>
    <p class="benefits__text">
      На базе стартовой площадки для вейкбординга мы
      построили кафе с вкуснейшей коктейльной картой,
      обширной линейкой сидров и кухней с
      мангал-меню и легкими деликатесными закусками под
      прохладительные напитки. <br/>
      Welcome to my home.</p>
  </div>
</section>