<section class="section">
  <div class="container">
    <h2 class="title">Корпоратив</h2>
    <ul class="corpotation__list">
      <li class="corporation__item">
        <svg class="corporation__img">
          <use href="./images/sprite.svg#icon-rent-2"></use>
        </svg>
        <h3 class="corporation__subtitle">аренда</h3>
        <p class="corporation__text">Шатер, мангал, сцена</p>
      </li>
      <li class="corporation__item">
        <svg class="corporation__img">
          <use href="./images/sprite.svg#icon-corp-2"></use>
        </svg>
        <h3 class="corporation__subtitle">корпоративы</h3>
        <p class="corporation__text">Организация, проведение</p>
      </li>
      <li class="corporation__item">
        <svg class="corporation__img">
          <use href="./images/sprite.svg#icon-lounge"></use>
        </svg>
        <h3 class="corporation__subtitle">лаундж зона</h3>
        <p class="corporation__text">Кальян, крафтовое пиво,
          мангал меню, уютные пуфики</p>
      </li>
      <li class="corporation__item">
        <svg class="corporation__img">
          <use href="./images/sprite.svg#icon-family"></use>
        </svg>
        <h3 class="corporation__subtitle">семейный отдых</h3>
        <p class="corporation__text">Отличная площадка для тихого
          и уютного отдыха</p>
      </li>
      <li class="corporation__item">
        <svg class="corporation__img">
          <use href="./images/sprite.svg#icon-b-day"></use>
        </svg>
        <h3 class="corporation__subtitle">дни рождения</h3>
        <p class="corporation__text">Подготовим всё для Вашего
          лучшего  праздника</p>
      </li>
      <li class="corporation__item">
        <svg class="corporation__img">
          <use href="./images/sprite.svg#icon-event"></use>
        </svg>
        <h3 class="corporation__subtitle">event локация</h3>
        <p class="corporation__text">Собственная сцена, мероприятия
          до 400 человек</p>
      </li>
      <li class="corporation__item">
        <svg class="corporation__img">
          <use href="./images/sprite.svg#icon-catering"></use>
        </svg>
        <h3 class="corporation__subtitle">кейтеринг</h3>
        <p class="corporation__text">Организация под ключ</p>
      </li>
      <li class="corporation__item">
        <svg class="corporation__img">
          <use href="./images/sprite.svg#icon-sport-2"></use>
        </svg>
        <h3 class="corporation__subtitle">спортивная зона</h3>
        <p class="corporation__text">Бампеболл, Вейкборд, Слеклайн,
          поляна для йоги</p>
      </li>
    </ul>
    <button class="button corporation__btn" data-modal-open>Заказать</button>
  </div>
</section>