<section class="section">
  <div class="container">
  <h2 class="title">Фотогалерея</h2>

    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide"><img src='./images/gallery/img1.jpg'/>
        </div>
        <div class="swiper-slide"><img src='./images/gallery/img2.jpg'/></div>
        <div class="swiper-slide"><img src='./images/gallery/img3.jpg'/></div>
      </div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <!-- If we need scrollbar -->
    </div>
  </div>
</section>