<section class="section hero">
  <div class="container">
    <img class="hero__image" src="./images/logo-hero.png" alt="logo"/>
    <h1 class="hero__title">Event локация под корпоратив, день рождения и отдых на природе </h1>
    <p class="hero_subtitle">20 мин от центра Киева</p>
    <ul class="hero__list">
      <li class="hero__item"><img src="./images/main/hero/cafe.svg" alt=""></li>
      <li class="hero__item_lower"><img src="./images/main/hero/rent.svg" alt=""></li>
      <li class="hero__item_lower"><img src="./images/main/hero/people.svg" alt=""></li>
      <li class="hero__item"><img src="./images/main/hero/sport.svg" alt=""></li>
    </ul>
  </div>
</section>