<section class="section">
  <div class="container">
    <div class="reviewSwiper swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide reviews__slide">
          <img width="173" src="./images/main/reviews/reviewsImg.png" alt="portrait"/>
          <h3 class="reviews__subtitle">Ольга Болгарская</h3>
          <p class="reviews__text">Благодаря ребятам из Nestoinameste наш корпоратив прошел на высоте! Нас было 43
            человека и все были при деле. Скучать не приходилось, так как продумано все до мелочей. Командные игры,
            вкусная еда, живая музыка и море позитива. Очень рекомендую!;)</p>
          <p class="reviews__date">21 августа 2019</p>
        </div>
        <div class="swiper-slide reviews__slide">
          <img width="173" src="./images/main/reviews/reviewsImg.png" alt="portrait"/>
          <h3 class="reviews__subtitle">Ольга Болгарская</h3>
          <p class="reviews__text">Благодаря ребятам из Nestoinameste наш корпоратив прошел на высоте! Нас было 43
            человека и все были при деле. Скучать не приходилось, так как продумано все до мелочей. Командные игры,
            вкусная еда, живая музыка и море позитива. Очень рекомендую!;)</p>
          <p class="reviews__date">21 августа 2019</p>
        </div>
        <div class="swiper-slide reviews__slide">
          <img width="173" src="./images/main/reviews/reviewsImg.png" alt="portrait"/>
          <h3 class="reviews__subtitle">Ольга Болгарская</h3>
          <p class="reviews__text">Благодаря ребятам из Nestoinameste наш корпоратив прошел на высоте! Нас было 43
            человека и все были при деле. Скучать не приходилось, так как продумано все до мелочей. Командные игры,
            вкусная еда, живая музыка и море позитива. Очень рекомендую!;)</p>
          <p class="reviews__date">21 августа 2019</p>
        </div>
        <div class="swiper-slide reviews__slide">
          <img width="173" src="./images/main/reviews/reviewsImg.png" alt="portrait"/>
          <h3 class="reviews__subtitle">Ольга Болгарская</h3>
          <p class="reviews__text">Благодаря ребятам из Nestoinameste наш корпоратив прошел на высоте! Нас было 43
            человека и все были при деле. Скучать не приходилось, так как продумано все до мелочей. Командные игры,
            вкусная еда, живая музыка и море позитива. Очень рекомендую!;)</p>
          <p class="reviews__date">21 августа 2019</p>
        </div>

      </div>
      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev review-prev"></div>
      <div class="swiper-button-next review-next"></div>

    </div>
  </div>
</section>